{% extends 'base.html' %}
{% block styles %}
<style>

</style>
{% endblock %}
{% block content %}
<form id="registerForm">  
   <div class="mb-3">
   <label for="InputName" class="form-label">姓名</label>
   <input type="text" class="form-control" id="InputName" name="name">
   <div id="nameHelp" class="form-text"></div>
 </div>
   <div class="mb-3">
     <label for="InputEmail" class="form-label">電子郵件</label>
     <input type="email" class="form-control" id="InputEmail" name="email" >    
   </div>
   <div class="mb-3">
    <label for="InputPassword" class="form-label">密碼</label>
    <input type="password" class="form-control" id="InputPassword" name="password" >    
  </div>
  <div class="mb-3">
    <label for="InputCheck" class="form-label">確認密碼</label>
    <input type="password" class="form-control" id="InputCheck" name="checkPassword" >    
  </div>
   <div class="mb-3">
     <label for="InputAge" class="form-label">年紀</label>
     <input type="number" class="form-control" id="InputAge" name="age">
   </div>
   <div class="mb-3">
    <label for="formFile" class="form-label">頭像</label>
    <input class="form-control" type="file" id="formFile" name="avatar">
  </div>
  
   <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
   <div id="massage" class="alert alert-info mt-3"></div>
 </form>
{% endblock %}
{% block scripts %}
<script>
    const btnSubmit = document.querySelector("#buttonSubmit");
    const inpName = document.querySelector("#InputName");
    const inpEmail = document.querySelector("#InputEmail");
    const inpAge = document.querySelector("#InputAge");
    const inpPassword = document.querySelector("#Inputpassword");
    const divInfo = document.querySelector("#massage");
    const divName = document.querySelector("#nameHelp");

    inpName.addEventListener("blur", async () => {
        const name = inpName.value
        if (name) {
            const response = await fetch(`/api/check_name/${name}`);
            if (response.ok) {
                const data = await response.text();
                divName.innerHTML = data;
            }
        }
    });
    //註冊按鈕，發送formdata
    btnSubmit.addEventListener("click", async (event) => {
        event.preventDefault()
        const myForm = document.querySelector('#registerForm')
        const formData = new FormData(myForm)
        const response = await fetch('/api/register/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })

        const data = await response.text();
        divInfo.innerHTML = data
        myForm.reset()
    })
</script>
{% endblock %}